/*      Header Starts       */

body{
    margin: 0;
    padding: 0;
}
header {
    background-color: #1C1C1C;
    padding: 10px 0 0 0;

}
.wrapper {
    overflow: hidden;
    width: 80%;
    /*border: 2px solid blue;*/
    margin: 0 auto;
}
.logo {
    width: 15%;
    /*border: 1px solid blue;*/
    float: left;
}
.logo img{
    width: 100%;
}
.menu {
    margin-top: 50px;
    width: 70%;
    /*border: 1px solid blue;*/
    float: right;
}
.menu ul{
    float: right;
    list-style: none;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 0 50px;
    display: block;
    transition: .3s;
}
.menu ul li a:hover{
    color: #289E86;
}
.menu ul li:last-child a{
    padding-right: 0;
}

/*      Header Ends     */ 